<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings>
		<add name="MySqlProviderConnection" connectionString="server=(local);trusted_connection=false;user id=sa;pwd=IEIG;database=WMSDatabase" providerName="System.Data.SqlClient"/>
		<add name="MySqlMasterProviderConnection" connectionString="server=(local);trusted_connection=false;user id=sa;pwd=IEIG;database=master" providerName="System.Data.SqlClient"/>
		<remove name="LocalSqlServer">
		</remove>
		<add name="LocalSqlServer" connectionString="server=(local);trusted_connection=false;user id=sa;pwd=IEIG;database=WMSDatabase" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<roleManager enabled="true"/>
		<customErrors mode="RemoteOnly" defaultRedirect="ErrorPage.htm"/>
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" protection="Validation" timeout="300" slidingExpiration="true"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<pages styleSheetTheme="WinXP_Blue" maintainScrollPositionOnPostBack="true" enableEventValidation="false"/>
		<siteMap enabled="true" defaultProvider="AspNetSqlSiteMapProvider">
			<providers>
				<remove name="AspNetSqlSiteMapProvider"/>
				<add name="AspNetSqlSiteMapProvider" type="SqlSiteMapProvider" securityTrimmingEnabled="true" connectionStringName="LocalSqlServer" sqlCacheDependency="WMSDatabase:SiteMap"/>
			</providers>
		</siteMap>
		<membership defaultProvider="AspNetSqlMembershipProvider">
			<providers>
				<remove name="AspNetSqlMembershipProvider"/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
			</providers>
		</membership>
		<compilation debug="true">
			<assemblies>
				<add assembly="Microsoft.Office.Interop.Owc11, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"/></assemblies>
		</compilation>
		<caching>
			<sqlCacheDependency enabled="true" pollTime="60000">
				<databases>
					<add name="WMSDatabase" connectionStringName="LocalSqlServer" pollTime="60000"/>
				</databases>
			</sqlCacheDependency>
		</caching>
	</system.web>
	<!-- Configuration for the "images" subdirectory. -->
	<location path="images">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<!-- Configuration for the "App_Themes" subdirectory. -->
	<location path="App_Themes">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
